project_id    = "trustarant-xxxx"
region        = "us-west1"
backend_image = "us-west1-docker.pkg.dev/trustarant-xxxx/trustarant/backend:latest"
frontend_image = "us-west1-docker.pkg.dev/trustarant-xxxx/trustarant/frontend:latest"
disable_backend_invoker_iam_check = true
invoker_members = []
allow_public_frontend_bucket = false
disable_frontend_invoker_iam_check = true
enable_ingestion_scheduler = true
ingestion_refresh_schedule = "0 9 * * *"
database_url_secret_id = "trustarant-database-url"
